<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static', filename='css/tailwind.min.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
    </head>
    <body>{% block content %}{% endblock %}</body>
</html>
